@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');}
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Globalne */

.bold {
    font-size: 140%;
    font-weight: bold;
}
.size {
    font-size: 150%;
}
.margin {
    margin: 0% 7%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap  {
    flex-wrap: wrap;
}
.margin_top {
    margin: 7% 0%;
}
.left {
    justify-content: flex-start;
}

/* Top */

.menu {
    background-color: #4E4E4E;
    width: 100vw;
    height: 5%;
    flex-wrap: wrap;
}
.right {
    width: 20vw
}
.unvisible {
    visibility: hidden;
}

/* Mid */

.link {
    text-decoration: none;
    color: white;
}
.contact {
    cursor: not-allowed;
}
.fog {
    width: 100vw;
    height: 80vh;
    background-image: url(fog.jpg);
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.shadow {
    background-color: rgb(0, 0, 0, 0.5);
}
.about_us {
    font-size: 16px;
    flex-direction: column;
    transition: all 1s;
    height: 80vh;
    width: 50%;
}
.offer.button {
    width: 50%;
    height: 20%;
    text-align: center;
    background: none;
    border: 2px solid white;
    color: white;
    transition: all 1s;
}
.offer.button:hover {
    color: black;
    background-color: white;
}
.circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1.0;
    background-position:center;
    background-size:cover;
}
.spec {
    color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.jack {
    background-image: url(jack.jpg);
}
.bob {
    background-image: url(bob.jpg);
}

/*bottom*/

.down {
    background-color: #405D78;
}
.blue {
    height: 20%;
    justify-content: flex-start;
}
.offer {
    width: 100vw;
    flex-wrap: wrap;
}
.box {
    width: 75%;
    height: auto;
    aspect-ratio: 1;
    margin: 3%;
    background-color: white;
    color: black;
    transition: all 0.5s;
    box-shadow: 5px 5px 10px 0px black;
}
.smcircle {
    object-position: 125% 125%;
    width: 5%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #E07A64;
}
.box:hover {
    transform: scale(1.05);
}
.absolute {
    object-position: center;
}

/* Tablet */

@media screen and (min-width:600px) and (max-width: 1024px) {
    /* Top */
    .menu {
        flex-wrap: nowrap;
    }
    .unvisible {
        visibility:visible;
    }
}

/* Computer */

@media screen and (min-width:1024px) {
    /*global */
    .container {
        width: 100vw;
    }

    /* top */

    .menu {
        height: 50px;
        width: 100vw;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    .right {
        width: 100px
    }
    .unvisible {
        visibility:visible;
    }

    /* mid */
    .fog {
        width: 100vw;
        height: 80vh;
    }
    .spec {
        flex-wrap: nowrap;
    }
    .spec:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: end;
    }

    /*bottom */

    .offer {
        flex-wrap: wrap;
    }
    .box {
        width: 25%;
    }
    
}