@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* Globalne */
body {
  font-size: 1em;
}
.bold {
  font-weight: bold;
}
.size {
  font-size: 36px;
}
.margin {
  margin: 0% 3%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.margin_top {
  margin: 7% 0%;
}
.left {
  justify-content: flex-start;
}
.black {
  padding: 5%;
  color: #152d41;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top */

.menu {
  background-color: #4e4e4e;
  width: 100vw;
  height: 50px;
}
.right {
  width: 15vw;
}
.unvisible {
  visibility: hidden;
}

/* Mid */
.titleHead {
  width: 81%;
}
.link {
  display: flex;
  text-decoration: none;
  color: white;
}
.contact {
  cursor: not-allowed;
}
.fog {
  width: 100vw;
  height: 80vh;
  background-image: url(/assets/fog.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.shadow {
  background-color: rgb(0, 0, 0, 0.5);
}
.about_us {
  font-size: 1em;
  flex-direction: column;
  transition: all 1s;
  height: 80vh;
}
.button {
  width: 164px;
  height: 41px;
  margin-top: 20px;
  background: none;
  border: 3px solid white;
  color: white;
  transition: all 1s;
}
.circle {
  display: block;
  margin: 50px auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
}
.description {
  text-align: justify;
}
.spec {
  color: black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.jack {
  background-image: url(/assets/jack.jpg);
}
.bob {
  background-image: url(/assets/bob.jpg);
}
.workes {
  justify-content: flex-start;
}

/*bottom*/

.down {
  background-color: #405d78;
}
.blue {
  font-size: 1.5em;
  height: 10%;
  text-align: center;
  padding: 10% 0%;
}
.offer {
  width: 100vw;
  flex-wrap: wrap;
  padding: 3% 0%;
}
.box {
  font-size: 24px;
  width: 75%;
  height: auto;
  aspect-ratio: 1;
  margin: 3%;
  background-color: white;
  color: black;
  transition: all 0.5s;
}
.smcircle {
  position: relative;
  top: -50%;
  left: -50%;
  width: 10%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #e07a64;
  transition: all 0.5s;
}
.box:hover .smcircle {
  transform: scale(1.05);
}
.box:hover {
  transform: scale(1.05);
}
.absolute {
  position: absolute;
}
.footer {
  background-color: #4e4e4e;
  width: 100vw;
  height: 100px;
  flex-wrap: wrap;
}
.icon {
  padding: 3% 0%;
  height: 31px;
  width: 31px;
  font-size: 31px;
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Top */
  .menu {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .unvisible {
    visibility: visible;
  }

  /* mid */
  .about_us {
    width: 100vw;
    justify-content: center;
    text-align: center;
    margin: 0%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titleHead {
    width: 100%;
  }
  .linkButton {
    display: flex;
    justify-content: center;
  }
  .aFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center {
    margin: 0%;
    display: flex;
    flex-direction: column;
  }

  .spec {
    text-align: center;
  }
  .box {
    width: 30%;
  }
  /* bottom */
  .blue {
    padding: 5%;
  }
  .offer {
    padding: 0;
  }
  .button {
    width: 200px;
    height: 50px;
  }
}

/* Computer */

@media screen and (min-width: 1200px) {
  /*global */
  .container {
    width: 100vw;
  }
  /* top */

  .menu {
    height: 50px;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .right {
    width: 100px;
  }
  .unvisible {
    visibility: visible;
  }

  /* mid */
  .fog {
    width: 100vw;
    height: 80vh;
  }
  .linkButton {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  .button {
    margin: 0;
    width: 164px;
    height: 40px;
  }
  .Aflex {
    display: inline;
  }
  .margin_top {
    margin-top: 3%;
  }
  .center {
    margin: auto 5%;
  }
  section p {
    font-size: 18px;
  }
  .spec {
    display: flex;
    text-align: start;
    flex-wrap: nowrap;
    font-size: 18px;
  }
  .spec:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: end;
  }
  .about_us {
    align-items: flex-start;
  }
  .link {
    font-size: 18px;
  }

  /*bottom */
  .blue {
    padding: 50px;
  }

  .offer {
    flex-wrap: wrap;
    padding: 0px;
  }
  .box {
    width: 25%;
  }
  .footer {
    justify-content: space-between;
  }
  footer div {
    font-size: 18px;
  }
  .icon {
    padding: 0px 25px;
  }
  .black {
    text-align: left;
    padding: 50px 0px;
  }
  .blue {
    text-align: left;
    padding: 50px 0px;
  }
  .button:hover {
    color: black;
    background-color: white;
  }
}
