@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  color: white;
}
nav {
  background-color: #4e4e4e;
  width: 100vw;
  height: 50px;
}
.menu {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
}
.name {
  margin: 0px 14px;
}
.barLink {
  margin: 0 14px;
  visibility: hidden;
}
.disable {
  cursor: not-allowed;
}

.fog {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/fog.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 14px;
}
.title {
  width: 81%;
  font-weight: 700;
  font-size: 32px;
  margin: 41px 0px;
}
.offer-button {
  width: 164px;
  height: 41px;
  margin-top: 20px;
  background: none;
  border: 3px solid white;
  color: white;
  transition: all 1s;
  cursor: pointer;
}
.titleSpec {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin: 34px 14px;
}
.circle {
  display: block;
  margin: 50px auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
}
.spec {
  color: #152d41;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 14px;
}
.color {
  color: #152d41;
}
.jack {
  background-image: url(/assets/jack.jpg);
}
.bob {
  background-image: url(/assets/bob.jpg);
}
.description {
  margin: 20px 0px;
}
.down {
  background-color: #405d78;
}
.blue {
  font-size: 1.5em;
  height: 10%;
  text-align: center;
  padding: 10% 0%;
}
.bold {
  font-weight: bold;
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3% 0%;
}
.box {
  color: #152d41;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 75%;
  height: auto;
  aspect-ratio: 1;
  margin: 3%;
  background-color: white;
  transition: all 0.5s;
}
.smcircle {
  position: relative;
  top: -50%;
  left: -50%;
  width: 38px;
  height: 38px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #e07a64;
  transition: all 0.5s;
}
.absolute {
  position: absolute;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
  width: 100vw;
  height: 100px;
  flex-wrap: wrap;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.name-footer {
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 15px 10px;
  height: 31px;
  width: 31px;
  font-size: 31px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Top */
  .menu {
    justify-content: space-between;
  }
  .link {
    margin: 0px 14px;
    list-style: none;
    color: white;
    text-decoration: none;
  }
  .barLink {
    visibility: visible;
  }

  /* mid */
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spec {
    text-align: center;
  }
  .box {
    width: 30%;
  }
  /* bottom */
  .blue {
    padding: 5%;
  }
  .offer {
    padding: 0;
    flex-direction: row;
  }
  .offer-button {
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    justify-content: space-between;
  }
  .link {
    margin: 0px 14px;
    list-style: none;
    color: white;
    text-decoration: none;
  }
  .barLink {
    visibility: visible;
  }
  .title {
    width: 50%;
  }

  /* mid */
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titleSpec {
    text-align: left;
    padding: 50px 0 0 0;
  }
  .column {
    display: block;
  }
  .spec {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .circle {
    margin: 61px 14px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
  }
  .spec:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: end;
  }
  .workers {
    margin: 0 44px;
    width: 100%;
  }
  .description {
    text-align: justify;
  }
  .box {
    width: 25%;
  }
  /* bottom */
  .blue {
    padding: 5%;
    text-align: left;
  }
  .offer {
    padding: 0;
    flex-direction: row;
  }
  .offer-button {
    width: 164px;
    height: 40px;
    margin: 20px 0;
  }
  .box {
    font-size: 18px;
  }
  .box:hover .smcircle {
    transform: scale(1.05);
  }
  .box:hover {
    transform: scale(1.05);
  }
  .offer-button:hover {
    color: black;
    background-color: white;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons {
    width: 10%;
    justify-content: space-between;
  }
  .center {
    width: 960px;
    margin: 0 auto;
  }
}
